.navbar-brand a {
	 padding-top: 7px;
}

.intro-body hr {
	border-color: black;
}

.intro-body > .container {
	margin-top:100px; 
}

.learn-more {
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 600;
}

form .btn-default {
    background-color: #fed98c;
    border-color: transparent;
    color: #000;
}

form .btn-default:hover {
    background-color: #fed98c;
    border-color: transparent;
    color: #000;
}

.navbar {
	background: rgba(17, 50, 97, 0.5) none repeat scroll 0 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #1d66cf;
}

.top-nav-collapse {
	background:  #113261;
}

.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
	background-color: #1d66cf !important;
}
